[development]
accounts = ["equitx", "alice", "bob"]

[development.network]
rpc-url = "http://localhost:8000/rpc"
network-passphrase = "Standalone Network ; February 2017"

[development.contracts.data_feed]
client = true
constructor_args = """
--admin equitx
--resolution 300 --assets '[{"Other":"USDT"},{"Other":"XLM"}]' --decimals 14 --base '{"Other":"USDT"}'
"""
init = """
set_asset_price --price 10000000000000 --asset-id '{"Other":"XLM"}' --timestamp "$(date +%s)"
set_asset_price --price 100000000000000 --asset-id '{"Other":"USDT"}' --timestamp "$(date +%s)"
"""

[development.contracts.xasset]
client = true
constructor_args = """
--admin equitx
--xlm_sac "$(stellar contract id asset --asset native)"
--xlm_contract "$(stellar contract alias show data_feed --network-passphrase "Standalone Network ; February 2017")"
--asset_contract "$(stellar contract alias show data_feed --network-passphrase "Standalone Network ; February 2017")" 
--pegged_asset USDT --min_collat_ratio 11000
--symbol xUSD --name "United States Dollar xAsset"
--decimals 7
--annual_interest_rate 100
"""
init = """
STELLAR_ACCOUNT=alice open_cdp --lender alice --collateral 1700000000 --asset-lent 100000000
STELLAR_ACCOUNT=bob open_cdp --lender bob --collateral 1300000000 --asset-lent 100000000
set_min_collat_ratio --to 15000
"""

[development.contracts.orchestrator]
client = true
# The wasm hash below is a placeholder; replace it with the actual hash as needed.
constructor_args = """
--admin equitx  
--xlm_sac "$(stellar contract id asset --asset native)"
--xlm_contract "$(stellar contract alias show data_feed --network-passphrase "Standalone Network ; February 2017")"
--xasset_wasm_hash ced079be88e32cf1260b216c5dbefa5d1073704aa0cac0f8dbd3e422e02672ce
"""
init = """
set_existing_asset_contract --asset_symbol xUSDT --asset_contract $(stellar contract alias show xasset --network-passphrase "Standalone Network ; February 2017") 
"""

[testing]
accounts = ["equitx"]

[testing.network]
rpc-url = "http://localhost:8000/rpc"
network-passphrase = "Standalone Network ; February 2017"

[testing.contracts.data_feed]
client = true

[testing.contracts.xasset]
client = true

[staging]
accounts = ["equitx"]

[staging.network]
rpc-url = "https://soroban-testnet.stellar.org"
network-passphrase = "Test SDF Network ; September 2015"

[staging.contracts]
orchestrator = { id = "CDOB2QSYJPQY2BYGNUOTXADWEBMW4ZWCZBAUM7R63JQWTVX5TMZZ45AP" }
xBTC = { id = "CD5IVQFW4JTDWHGXHWOUBAZZUKOMK3RUEPI6JE7ZQDJZIXNETIK44F7C" }

[production]
accounts = ["equitxmainnet"]

[production.network]
rpc-url = "https://rpc.lightsail.network/"
network-passphrase = "Public Global Stellar Network ; September 2015"

[production.contracts]
orchestrator = { id = "CDD62UWKR7ATDZPQUJR63PLXHCVVPNN7M53UCW7K3GDCJFOMUTDYQ4RT" }
xBTC = { id = "CA3BB35F2EK4ADN4SI3QJAKWG2OQ3S5NKLFRV4H24FEHZ3CA2GHNDGAK" }
