.truncate {
  display: inline-block;
  width: 3.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  border-bottom: 1px dotted rgb(var(--accent-light));
  text-decoration: none;
  cursor: help;
}
