version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
        default-days: 7
    groups:
      npm-minor:
        update-types:
          - minor
          - patch
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"