name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: stellar/quickstart@main
      with:
          tag: testing
    - uses: actions/cache@v3
      id: cargo-cache
      with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - run: rustup target add wasm32v1-none
    - uses: stellar/stellar-cli@v23.3.0
    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@v1.14.1
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libdbus-1-dev pkg-config libudev-dev
    - name: Install Stellar Scaffold CLI
      if: steps.cargo-cache.outputs.cache-hit != 'true'
      run: |
        if ! command -v stellar-scaffold &> /dev/null; then
          cargo binstall stellar-scaffold-cli -y
        fi
    - name: Install cargo-nextest
      run: |
        if ! command -v cargo-nextest &> /dev/null; then
          cargo binstall cargo-nextest -y
        fi
    - name: Build & build clients with Stellar Scaffold
      run: STELLAR_SCAFFOLD_ENV=testing stellar-scaffold build --build-clients
    - name: Run tests
      run: cargo nextest run --verbose --no-fail-fast

